html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #2c3e50;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
    float: left;
    width: 100%;
}

.team-yellow {
    color: gold;
}

.team-blue {
    color: blue;
}
